In [ ]:
import pandas as pd
import numpy as np
import sklearn as sk
# import matplotlib.pyplot as plt
# from sklearn.tree import DecisionTreeClassifier
# from sklearn.ensemble import AdaBoostClassifier
from google.colab import files
from geopy.geocoders import Nominatim
from sklearn import preprocessing
import itertools

# Get the Data from Kaggle

Credit to Kaggle user Filemon [1] for the utility code used here to get our dataset from Kaggle. It was copied and pasted with some minor alterations. Prof. Numanagic confirmed on Piazza that using this utility code is fine so long as we cite our source.

In [ ]:
files.upload()
! mkdir ~/.kaggle
! cp kaggle.json ~/.kaggle/
! chmod 600 ~/.kaggle/kaggle.json
! kaggle datasets list
! kaggle datasets download -d ruchi798/housing-prices-in-metropolitan-areas-of-india -p /content/sample_data/ --unzip

Saving kaggle.json to kaggle.json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
ref                                                         title                                              size  lastUpdated          downloadCount
----------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
gpreda/reddit-vaccine-myths                                 Reddit Vaccine Myths                              233KB  2021-08-12 07:39:36          10578
crowww/a-large-scale-fish-dataset                           A Large Scale Fish Dataset                          3GB  2021-04-28 17:03:01           6463
imsparsh/musicnet-dataset                                   MusicNet Dataset                                   22GB  2021-02-18 14:12:19           2421
dhruvildave/wikibooks-dataset                               Wikibooks Dataset                                   2GB  2021-07-03 18:37:20           2635
promptcloud/careerbuilder-job-listing-2020                  Careerbuilder Job Listing 2020                     42MB  2021-03-05 06:59:52           1584
fatiimaezzahra/famous-iconic-women                          Famous Iconic Women                               838MB  2021-02-28 14:56:00           1101
alsgroup/end-als                                            End ALS Kaggle Challenge                           12GB  2021-04-08 12:16:37            835
mathurinache/twitter-edge-nodes                             Twitter Edge Nodes                                342MB  2021-03-08 06:43:04            760
nickuzmenkov/nih-chest-xrays-tfrecords                      NIH Chest X-rays TFRecords                         11GB  2021-03-09 04:49:23            922
simiotic/github-code-snippets                               GitHub Code Snippets                                7GB  2021-03-03 11:34:39            279
coloradokb/dandelionimages                                  DandelionImages                                     4GB  2021-02-19 20:03:47            709
imsparsh/accentdb-core-extended                             AccentDB - Core & Extended                          6GB  2021-02-17 14:22:54            129
stuartjames/lights                                          LightS: Light Specularity Dataset                  18GB  2021-02-18 14:32:26            109
mathurinache/the-lj-speech-dataset                          The LJ Speech Dataset                               3GB  2021-02-15 09:19:54            279
landrykezebou/lvzhdr-tone-mapping-benchmark-dataset-tmonet  LVZ-HDR Tone Mapping Benchmark Dataset (TMO-Net)   24GB  2021-03-01 05:03:40            166
nickuzmenkov/ranzcr-clip-kfold-tfrecords                    RANZCR CLiP KFold TFRecords                         2GB  2021-02-21 13:29:51            119
datasnaek/youtube-new                                       Trending YouTube Video Statistics                 201MB  2019-06-03 00:56:47         146427
zynicide/wine-reviews                                       Wine Reviews                                       51MB  2017-11-27 17:08:04         141749
residentmario/ramen-ratings                                 Ramen Ratings                                      40KB  2018-01-11 16:04:39          25687
datasnaek/chess                                             Chess Game Dataset (Lichess)                        3MB  2017-09-04 03:09:09          20676
Downloading housing-prices-in-metropolitan-areas-of-india.zip to /content/sample_data
  0% 0.00/269k [00:00<?, ?B/s]
100% 269k/269k [00:00<00:00, 39.2MB/s]

In [ ]:
cities = ['Bangalore', 'Chennai', 'Delhi', 'Hyderabad', 'Kolkata', 'Mumbai']
df1 = pd.read_csv("/content/sample_data/Bangalore.csv")
df2 = pd.read_csv("/content/sample_data/Chennai.csv")
df3 = pd.read_csv("/content/sample_data/Delhi.csv")
df4 = pd.read_csv("/content/sample_data/Hyderabad.csv")
df5 = pd.read_csv("/content/sample_data/Kolkata.csv")
df6 = pd.read_csv("/content/sample_data/Mumbai.csv")
df1.head()

      Price  Area  ... Wardrobe  Refrigerator
0  30000000  3340  ...        0             0
1   7888000  1045  ...        0             0
2   4866000  1179  ...        0             0
3   8358000  1675  ...        0             0
4   6845000  1670  ...        0             0

[5 rows x 40 columns]

In [ ]:
dfs = [df1, df2, df3, df4, df5, df6]
for (i,k) in zip(dfs,cities):
  print(f"{k:<10} shape: {i.shape}")

Bangalore  shape: (6207, 40)
Chennai    shape: (5014, 40)
Delhi      shape: (4998, 40)
Hyderabad  shape: (2518, 40)
Kolkata    shape: (6507, 40)
Mumbai     shape: (7719, 40)

In [ ]:
dfs[0].describe()

              Price         Area  ...     Wardrobe  Refrigerator
count  6.207000e+03  6207.000000  ...  6207.000000   6207.000000
mean   1.058510e+07  1526.094248  ...     6.171097      6.210569
std    1.410943e+07   764.845609  ...     4.178546      4.124430
min    2.000000e+06   415.000000  ...     0.000000      0.000000
25%    5.000000e+06  1110.000000  ...     0.000000      0.000000
50%    7.368000e+06  1340.000000  ...     9.000000      9.000000
75%    1.070000e+07  1662.500000  ...     9.000000      9.000000
max    3.000000e+08  9900.000000  ...     9.000000      9.000000

[8 rows x 39 columns]

In [ ]:
dfs[1].describe()

              Price         Area  ...     Wardrobe  Refrigerator
count  5.014000e+03  5014.000000  ...  5014.000000   5014.000000
mean   8.731264e+06  1232.992022  ...     4.991823      5.009174
std    1.034261e+07   641.841841  ...     4.473489      4.455995
min    2.000000e+06   362.000000  ...     0.000000      0.000000
25%    4.095000e+06   865.000000  ...     0.000000      0.000000
50%    5.782000e+06  1067.000000  ...     9.000000      9.000000
75%    8.675000e+06  1438.750000  ...     9.000000      9.000000
max    1.900000e+08  7240.000000  ...     9.000000      9.000000

[8 rows x 39 columns]

In [ ]:
dfs[2].describe()

              Price          Area  ...     Wardrobe  Refrigerator
count  4.998000e+03   4998.000000  ...  4998.000000   4998.000000
mean   1.588638e+07   1277.343737  ...     5.394958      5.411565
std    4.612894e+07    915.217800  ...     4.410549      4.392045
min    2.000000e+06    200.000000  ...     0.000000      0.000000
25%    2.900000e+06    800.000000  ...     0.000000      0.000000
50%    5.500000e+06   1000.000000  ...     9.000000      9.000000
75%    1.580000e+07   1650.000000  ...     9.000000      9.000000
max    8.546000e+08  16000.000000  ...     9.000000      9.000000

[8 rows x 39 columns]

In [ ]:
dfs[3].describe()

              Price         Area  ...     Wardrobe  Refrigerator
count  2.518000e+03  2518.000000  ...  2518.000000   2518.000000
mean   9.818380e+06  1644.571088  ...     0.341144      0.324861
std    8.777113e+06   746.256956  ...     1.621023      1.619344
min    2.000000e+06   500.000000  ...     0.000000      0.000000
25%    4.760000e+06  1160.000000  ...     0.000000      0.000000
50%    7.754000e+06  1500.000000  ...     0.000000      0.000000
75%    1.090000e+07  1829.000000  ...     0.000000      0.000000
max    1.650000e+08  9400.000000  ...     9.000000      9.000000

[8 rows x 39 columns]

In [ ]:
dfs[4].describe()

              Price          Area  ...     Wardrobe  Refrigerator
count  6.507000e+03   6507.000000  ...  6507.000000   6507.000000
mean   8.508570e+06   1344.166897  ...     8.896266      8.897034
std    1.465939e+07    807.698043  ...     0.960724      0.953984
min    2.000000e+06    350.000000  ...     0.000000      0.000000
25%    3.300000e+06    920.000000  ...     9.000000      9.000000
50%    4.940000e+06   1144.000000  ...     9.000000      9.000000
75%    8.000000e+06   1454.000000  ...     9.000000      9.000000
max    5.040000e+08  10000.000000  ...     9.000000      9.000000

[8 rows x 39 columns]

In [ ]:
dfs[5].describe()

              Price         Area  ...     Wardrobe  Refrigerator
count  7.719000e+03  7719.000000  ...  7719.000000   7719.000000
mean   1.506165e+07   998.409250  ...     7.383988      7.374789
std    2.052100e+07   550.967809  ...     3.438345      3.456702
min    2.000000e+06   200.000000  ...     0.000000      0.000000
25%    5.300000e+06   650.000000  ...     9.000000      9.000000
50%    9.500000e+06   900.000000  ...     9.000000      9.000000
75%    1.700000e+07  1177.000000  ...     9.000000      9.000000
max    4.200000e+08  8511.000000  ...     9.000000      9.000000

[8 rows x 39 columns]

Change the name for Children'splayarea to KidsPlayArea

In [ ]:
dfs = [df1, df2, df3, df4, df5, df6]
for i, k in enumerate(dfs):
  dfs[i] = k.rename(columns={"Children'splayarea":"KidsPlayArea"})

Credit to Kaggle user Pradyut Lohani [2] for identifiying and replacing "9" values with NaNs. "9" was used in the original dataset to mention absence of information; by replacing 9s with NaNs, we can use data that has some missing values without it throwing off our classifier.

In [ ]:
for i, k in enumerate(dfs):
  k.replace(9,np.nan, inplace=True)

We select the columns which have missing data to either replace them with simple imputation or delete samples with missing data

In [ ]:
col_names = dfs[0].columns
col_full_vals = ['Price', 'Area', 'Location', 'No. of Bedrooms', 'Resale']
col_not_full_vals = [col_names for col_names in col_names if col_names not in col_full_vals]

**Uncomment the following it to get datasets with simple imputation**

In [ ]:
for j in dfs:
  for i in col_not_full_vals:
    j[i].fillna(j[i].mean(), inplace = True)

In [ ]:
dfs[0].isna().sum() # count of how many properties are missing each type of data for Bangalore

Price                  0
Area                   0
Location               0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
KidsPlayArea           0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
dtype: int64

In [ ]:
            # def rename_location(dfs):
            #   for p in dfs:
            #     a = p['Location'].tolist()
            #     a_sorted = sorted(list(set(a)), key=str.lower)
            #     b = {}
            #     t = 0
            #     for i in a_sorted:
            #       b[i] = t
            #       t = t+1
            #     p['LocationRename'] = p['Location'].replace(b)

In [ ]:
            # dfs = [df1, df2, df3, df4, df5, df6]
            # rename_location(dfs)

In [ ]:
            # df1 = pd.get_dummies(df1)
            # df2 = pd.get_dummies(df2)
            # df3 = pd.get_dummies(df3)
            # df4 = pd.get_dummies(df4)
            # df5 = pd.get_dummies(df5)
            # df6 = pd.get_dummies(df6)

In [ ]:
for (i,k) in zip(dfs,cities):
  print(f"{k:<10} shape: {i.shape}")

Bangalore  shape: (6207, 40)
Chennai    shape: (5014, 40)
Delhi      shape: (4998, 40)
Hyderabad  shape: (2518, 40)
Kolkata    shape: (6507, 40)
Mumbai     shape: (7719, 40)

In [ ]:
geolocator = Nominatim(user_agent="housing")

def findLongLat(local):
  try:
    cordinates=geolocator.geocode(local)
    return cordinates.latitude, cordinates.longitude
  except:
    return "NA", "NA"

In [ ]:
def locationFindAndReplace(dfs):
  for j, (i, k) in enumerate(zip(dfs, cities)):
    df_selection = i
    city_selection = k
    lolk= df_selection['Location'].unique()
    lolp = [ str(t) +', '+str(city_selection) +', India' for t in lolk]
    locationLongLat={}
    print(f'{i.shape}, {city_selection}')
    for p, place in zip(lolk, lolp):
      locationLongLat[p]=findLongLat(place)
      print(place)
    dfs[j]['Latitude'], dfs[j]['Longitude'] = zip(*dfs[j]['Location'].map(locationLongLat))
    dfs[j].replace('NA', np.nan, inplace=True)
    dfs[j] = dfs[j].drop(columns='Location')
  return dfs

In [ ]:
dfs = locationFindAndReplace(dfs)

(6207, 40), Bangalore
JP Nagar Phase 1, Bangalore, India
Dasarahalli on Tumkur Road, Bangalore, India
Kannur on Thanisandra Main Road, Bangalore, India
Doddanekundi, Bangalore, India
Kengeri, Bangalore, India
Horamavu, Bangalore, India
Thanisandra, Bangalore, India
Ramamurthy Nagar, Bangalore, India
Whitefield Hope Farm Junction, Bangalore, India
Electronic City Phase 1, Bangalore, India
Yelahanka, Bangalore, India
Anjanapura, Bangalore, India
Jalahalli, Bangalore, India
Kasavanahalli, Bangalore, India
Bommasandra, Bangalore, India
Bellandur, Bangalore, India
RR Nagar, Bangalore, India
Begur, Bangalore, India
Hosa Road, Bangalore, India
Sahakar Nagar, Bangalore, India
Kadugodi, Bangalore, India
Jakkur, Bangalore, India
Jigani, Bangalore, India
Krishnarajapura, Bangalore, India
Brookefield, Bangalore, India
Banashankari, Bangalore, India
Nelamangala, Bangalore, India
Attibele, Bangalore, India
Banaswadi, Bangalore, India
Kodigehalli, Bangalore, India
ITPL, Bangalore, India
Uttarahalli Hobli, Bangalore, India
Chikkagubbi on Hennur Main Road, Bangalore, India
Varthur, Bangalore, India
Vidyaranyapura, Bangalore, India
Electronic City Phase 2, Bangalore, India
J. P. Nagar, Bangalore, India
K. Chudahalli, Bangalore, India
Narayanaghatta, Bangalore, India
Anekal City, Bangalore, India
Sarjapur, Bangalore, India
Koramangala, Bangalore, India
Hebbal, Bangalore, India
Budigere Cross, Bangalore, India
Bommanahalli, Bangalore, India
Electronics City, Bangalore, India
Chikkalasandra, Bangalore, India
Kogilu, Bangalore, India
Nayandahalli, Bangalore, India
Bilekahalli, Bangalore, India
Muneshwara Nagar, Bangalore, India
Junnasandra, Bangalore, India
Narayanapura on Hennur Main Road, Bangalore, India
Kothanur, Bangalore, India
Kadugodi Industrial Area, Bangalore, India
Sarjapur Road Wipro To Railway Crossing, Bangalore, India
RMV Extension Stage 2, Bangalore, India
Kudlu, Bangalore, India
Talaghattapura, Bangalore, India
Kumbalgodu, Bangalore, India
Carmelaram, Bangalore, India
Uttarahalli, Bangalore, India
Anagalapura Near Hennur Main Road, Bangalore, India
Avalahalli Off Sarjapur Road, Bangalore, India
R T  Nagar, Bangalore, India
JP Nagar Phase 7, Bangalore, India
Subramanyapura, Bangalore, India
JP Nagar Phase 4, Bangalore, India
JP Nagar Phase 8, Bangalore, India
Amruthahalli, Bangalore, India
Nagarbhavi, Bangalore, India
Chandapura, Bangalore, India
Marsur, Bangalore, India
JP Nagar Phase 3, Bangalore, India
JP Nagar Phase 9, Bangalore, India
Gottigere, Bangalore, India
Kanakapura Road Beyond Nice Ring Road, Bangalore, India
Harlur, Bangalore, India
Konanakunte, Bangalore, India
Richmond Town, Bangalore, India
Jayanagar, Bangalore, India
Domlur, Bangalore, India
Devanahalli, Bangalore, India
Hulimavu, Bangalore, India
Kumaraswamy Layout, Bangalore, India
Bikasipura, Bangalore, India
Singasandra, Bangalore, India
JP Nagar Phase 6, Bangalore, India
Sanjaynagar, Bangalore, India
CV Raman Nagar, Bangalore, India
Padmanabhanagar, Bangalore, India
Hennur, Bangalore, India
KPC Layout, Bangalore, India
R.K. Hegde Nagar, Bangalore, India
Kannamangala, Bangalore, India
Yerthiganahalli, Bangalore, India
Badamanavarthekaval, Bangalore, India
Kanakapura, Bangalore, India
Bannerughatta, Bangalore, India
BTM Layout, Bangalore, India
Kuvempu Layout on Hennur Main Road, Bangalore, India
Marathahalli, Bangalore, India
Rajajinagar, Bangalore, India
Whitefield, Bangalore, India
RMV, Bangalore, India
Bileshivale, Bangalore, India
Nagawara, Bangalore, India
HSR Layout, Bangalore, India
Anjanapura Township, Bangalore, India
Hurulichikanahalli, Bangalore, India
Devarachikkana Halli, Bangalore, India
Sampangiram Nagar, Bangalore, India
Armane Nagar, Bangalore, India
Basavanagudi, Bangalore, India
Yeshwantpur, Bangalore, India
Battarahalli, Bangalore, India
K C Krishna Reddy Layout, Bangalore, India
Adugodi, Bangalore, India
Kammanahalli, Bangalore, India
Kalyan Nagar, Bangalore, India
Kudlu Gate, Bangalore, India
Kodipalya, Bangalore, India
Kaggadasapura, Bangalore, India
Malleswaram, Bangalore, India
Akshayanagar, Bangalore, India
Kammmanhalli, Bangalore, India
Lingarajapuram, Bangalore, India
Indira Nagar, Bangalore, India
Nagasandra, Bangalore, India
Kaval Byrasandra, Bangalore, India
Sanjay Nagar, Bangalore, India
Sanjeevini Nagar, Bangalore, India
Cooke Town, Bangalore, India
Frazer Town, Bangalore, India
Vasanth Nagar, Bangalore, India
NRI Layout, Bangalore, India
Dasarahalli, Bangalore, India
Kalkere, Bangalore, India
Kartik Nagar, Bangalore, India
Sarjapur Road Till Wipro, Bangalore, India
hebbal kempapura, Bangalore, India
Cox Town, Bangalore, India
Bendre Nagar, Bangalore, India
Hosakerehalli, Bangalore, India
Byrathi, Bangalore, India
Narayanapura, Bangalore, India
Chamrajpet, Bangalore, India
Kodihalli on Old Airport Road, Bangalore, India
Nandini Layout, Bangalore, India
Ullal Uppanagar, Bangalore, India
Doddaballapur, Bangalore, India
Murugesh Palya, Bangalore, India
Annapurneshwari Nagar, Bangalore, India
Lingadheeranahalli, Bangalore, India
Chandra Layout Extension, Bangalore, India
BTM Layout 2nd Stage, Bangalore, India
8th Phase JP Nagar, Bangalore, India
Dodda Banaswadi, Bangalore, India
Sidedahalli, Bangalore, India
Hallehalli, Bangalore, India
HBR Layout, Bangalore, India
Rajarajeshwari nagar, Bangalore, India
Uttarahalli Main Road, Bangalore, India
Poornapragna Housing Society Layout, Bangalore, India
5th Stage Raja Rajeshwari Nagar, Bangalore, India
RR Nagar Main Road, Bangalore, India
DrVishnuvardhan Road, Bangalore, India
Bharath Housing Society Layout, Bangalore, India
Hennur Main Road, Bangalore, India
JP Nagar Phase 5, Bangalore, India
5th Phase, Bangalore, India
Kadugondanahalli, Bangalore, India
Hosa Road Junction, Bangalore, India
AGS Layout Arehalli, Bangalore, India
Hosur Main Road, Bangalore, India
Uttarahalli Road, Bangalore, India
Poornaprajna Layout, Bangalore, India
Poorna Pragna Layout, Bangalore, India
Banashankari 5th stage, Bangalore, India
Channasandra Layout, Bangalore, India
JP Nagar 8th Phase, Bangalore, India
Volagerekallahalli, Bangalore, India
Mysore Road, Bangalore, India
Thanisandra Main Road, Bangalore, India
Koppa Begur Road, Bangalore, India
Sarjapur Road, Bangalore, India
Ulsoor, Bangalore, India
Kathriguppe, Bangalore, India
Babusabpalya, Bangalore, India
AECS Layout A Block Singasandra, Bangalore, India
KR Puram Bhattarahalli, Bangalore, India
Raja Rajeshwari Nagar 5th Stage, Bangalore, India
RMV 2nd Stage, Bangalore, India
Kambipura, Bangalore, India
Pattanagere Main Road, Bangalore, India
Ashwathkatte Road, Bangalore, India
BEML Layout 5th Stage, Bangalore, India
Shivaji Nagar, Bangalore, India
Bagalur, Bangalore, India
Sarjapur Attibele, Bangalore, India
Domlur Layout, Bangalore, India
sarjapura attibele road, Bangalore, India
TC Palya Road, Bangalore, India
ISRO Layout, Bangalore, India
Munnekollal, Bangalore, India
Infantry Road, Bangalore, India
Richards Town, Bangalore, India
Pattanagere, Bangalore, India
Benson Town, Bangalore, India
Sri Krishna Garden Layout, Bangalore, India
Kenchena Halli Road, Bangalore, India
Rajarajeswari Nagar, Bangalore, India
Bannerghatta Main Road, Bangalore, India
Mahadevapura, Bangalore, India
Babusa Palya, Bangalore, India
Kumaraswamy Layout Vittal Nagar, Bangalore, India
Ideal Homes Co Operative Housing Society, Bangalore, India
5th Stage BEML Layout, Bangalore, India
Dwaraka Nagar, Bangalore, India
Krishna Garden Road, Bangalore, India
Gubbalala Main Road, Bangalore, India
RT Nager, Bangalore, India
Kadathanamale, Bangalore, India
Manyata Tech Park Nagawara, Bangalore, India
Chandapura Anekal Road, Bangalore, India
BEML Layout, Bangalore, India
Nagavara, Bangalore, India
Abbigere, Bangalore, India
HBR Layout 4th Block, Bangalore, India
Panathur Road, Bangalore, India
Poornapragna Housing Society L, Bangalore, India
Wheeler Road Extension, Bangalore, India
Hegde Nagar, Bangalore, India
Vasanthapura Main Road, Bangalore, India
Hennur Road, Bangalore, India
Telecom Layout Thanisandra, Bangalore, India
Manayata Tech Park, Bangalore, India
MS Ramaiah North City Manayata Tech Park, Bangalore, India
Near Peenya Industrial Area, Bangalore, India
Bennigana Halli, Bangalore, India
Jaibharath Nagar Bangalore, Bangalore, India
Sadashiva Nagar, Bangalore, India
Ashok Nagar, Bangalore, India
Kogilu Road Near Yelahanka, Bangalore, India
Sompura Gate, Bangalore, India
Bagaluru, Bangalore, India
Lavelle Road, Bangalore, India
Horamavu Banjara Lyout, Bangalore, India
Kundalahalli, Bangalore, India
Basaveswarnagar, Bangalore, India
White Field, Bangalore, India
Yelahanka New Town, Bangalore, India
Bannerghatta Road Jigani, Bangalore, India
Hennagara, Bangalore, India
EPIP Zone, Bangalore, India
T C Palya Main Road, Bangalore, India
CV Raman Nagar Kaggadasapura, Bangalore, India
Ramanjaneyanagar, Bangalore, India
Chikkanayakanahalli at Off Sarjapur, Bangalore, India
Ashoka Road, Bangalore, India
Sindhi Colony, Bangalore, India
KR Puram Old Madras Road, Bangalore, India
Bannerghatta, Bangalore, India
Begur Road, Bangalore, India
K P Main Road, Bangalore, India
Residential Flat Uttarahalli Hobli, Bangalore, India
Bagaluru Near Yelahanka, Bangalore, India
Ananth Nagar, Bangalore, India
Electronic City Phase I, Bangalore, India
6th phase jp nagar, Bangalore, India
Ramagondanahalli, Bangalore, India
Jalahalli West, Bangalore, India
Off Bannerghatta Road, Bangalore, India
JP Nagar, Bangalore, India
Mallasandra, Bangalore, India
JP Nagar Phase 2, Bangalore, India
Maruthi Sevanagar, Bangalore, India
Hoskote, Bangalore, India
Bangalore Road, Bangalore, India
Residential FlatUttarahalli Hobli, Bangalore, India
7th Phase JP Nagar, Bangalore, India
Padmanabha Nagar, Bangalore, India
Whitefield Road, Bangalore, India
Nirman Layout, Bangalore, India
OMBR Layout, Bangalore, India
Sompura, Bangalore, India
Medaralli, Bangalore, India
Bengaluru Kanakapura Road, Bangalore, India
Basapura Main Road, Bangalore, India
Gunjur Balagere Road, Bangalore, India
Hosa Road Electronic City, Bangalore, India
Budigere, Bangalore, India
Hennagara Main Road, Bangalore, India
Off Cunningham Road, Bangalore, India
Vijaya Bank Layout, Bangalore, India
Geddalahalli, Bangalore, India
Banashankari Stage III, Bangalore, India
Bellari Road, Bangalore, India
Bhoopasandra, Bangalore, India
Kachanayakanahalli, Bangalore, India
Seegehalli Road, Bangalore, India
HAL, Bangalore, India
(5014, 40), Chennai
Perungalathur, Chennai, India
Madhavaram, Chennai, India
Karapakkam, Chennai, India
Thiruvidandhai, Chennai, India
Iyappanthangal, Chennai, India
Mevalurkuppam, Chennai, India
Kolapakkam, Chennai, India
Kundrathur, Chennai, India
Pammal, Chennai, India
Puzhal, Chennai, India
Selaiyur, Chennai, India
Thoraipakkam OMR, Chennai, India
Anna Nagar, Chennai, India
Mogappair, Chennai, India
Sholinganallur, Chennai, India
Medavakkam, Chennai, India
Avadi, Chennai, India
Tiruvottiyur, Chennai, India
Manapakkam, Chennai, India
Madipakkam, Chennai, India
Thiruvanmiyur, Chennai, India
Ramapuram, Chennai, India
Saidapet, Chennai, India
Poonamallee, Chennai, India
Pallavaram, Chennai, India
Maraimalai Nagar, Chennai, India
Madambakkam, Chennai, India
Perungudi, Chennai, India
Villivakkam, Chennai, India
Adyar, Chennai, India
Navallur, Chennai, India
Moolacheri, Chennai, India
Chromepet, Chennai, India
Nandambakkam, Chennai, India
Kelambakkam, Chennai, India
Vadapalani, Chennai, India
Kumananchavadi, Chennai, India
Porur, Chennai, India
Periyapanicheri, Chennai, India
Manikandan Nagar, Chennai, India
Kodambakkam, Chennai, India
Velachery, Chennai, India
East Tambaram, Chennai, India
Gopalapuram, Chennai, India
Sunnambu Kolathur S Kolathur, Chennai, India
Perumbakkam, Chennai, India
Cholambedu, Chennai, India
Urapakkam, Chennai, India
Raja Annamalai Puram, Chennai, India
Besant Nagar, Chennai, India
Peerakankaranai, Chennai, India
Nanmangalam, Chennai, India
Jamalia, Chennai, India
Guduvancheri, Chennai, India
Sembakkam, Chennai, India
Adambakkam, Chennai, India
Nungambakkam, Chennai, India
T Nagar, Chennai, India
K K Nagar, Chennai, India
Ambattur, Chennai, India
Valasaravakkam, Chennai, India
Kanathur Reddikuppam, Chennai, India
Mugalivakkam, Chennai, India
Purasaiwakkam, Chennai, India
Maduravoyal, Chennai, India
Gowrivakkam, Chennai, India
Mudichur, Chennai, India
West Tambaram, Chennai, India
Alwarpet, Chennai, India
Annanagar West, Chennai, India
Thiruverkadu, Chennai, India
tambaram west, Chennai, India
Guindy, Chennai, India
Korattur, Chennai, India
Tambaram Sanatoruim, Chennai, India
Irumbuliyur, Chennai, India
Kolathur, Chennai, India
Thirumullaivoyal, Chennai, India
Singaperumal Koil, Chennai, India
Ayapakkam, Chennai, India
Perambur, Chennai, India
Chetpet, Chennai, India
Kilpauk, Chennai, India
Egmore, Chennai, India
Alandur, Chennai, India
Kovur, Chennai, India
Vandalur, Chennai, India
Pozhichalur, Chennai, India
Vanagaram, Chennai, India
Thoraipakkam, Chennai, India
Ullagaram, Chennai, India
Kovilambakkam, Chennai, India
Kattupakkam, Chennai, India
Thirumazhisai, Chennai, India
Kattankulathur, Chennai, India
Ayanambakkam, Chennai, India
Sithalapakkam, Chennai, India
Vengaivasal, Chennai, India
Kilkattalai, Chennai, India
Annanagar, Chennai, India
Chengalpattu, Chennai, India
Pallikaranai, Chennai, India
Rajakilpakkam, Chennai, India
Chitlapakkam, Chennai, India
Palavakkam, Chennai, India
Kotturpuram, Chennai, India
Nenmeli, Chennai, India
Ramavaram, Chennai, India
Padi, Chennai, India
NehruNagar, Chennai, India
Pazavanthangal, Chennai, India
Thatchoor, Chennai, India
Padur, Chennai, India
Iyyappanthangal, Chennai, India
Mambakkam, Chennai, India
Egatoor, Chennai, India
Semmancheri, Chennai, India
Virugambakkam, Chennai, India
Moolakadai, Chennai, India
Siruseri, Chennai, India
Velappanchavadi, Chennai, India
Ekkatuthangal, Chennai, India
Royapettah, Chennai, India
Nandanam, Chennai, India
Vellakkal, Chennai, India
Annamalai Colony, Chennai, India
Thalambur, Chennai, India
Nanganallur, Chennai, India
Chembarambakkam, Chennai, India
Teynampet, Chennai, India
Mannivakkam, Chennai, India
Thaiyur, Chennai, India
Injambakkam, Chennai, India
Aminjikarai, Chennai, India
CIT Nagar, Chennai, India
Koyambedu, Chennai, India
Kil Ayanambakkam, Chennai, India
Choolaimedu, Chennai, India
Thirumudivakkam, Chennai, India
Kottivakkam, Chennai, India
Ponneri, Chennai, India
Mahindra World City, Chennai, India
Purasawalkam, Chennai, India
Anakaputhur, Chennai, India
TNHB, Chennai, India
Manali, Chennai, India
Mogappair East, Chennai, India
Bakthavatchalapuram, Chennai, India
Chikkarayapuram, Chennai, India
Triplicane, Chennai, India
Tiruporur Near Kelambakkam, Chennai, India
Agaramthen, Chennai, India
Vengambakkam, Chennai, India
Keelma Nagar, Chennai, India
Gerugambakkam, Chennai, India
Ottiyambakkam, Chennai, India
Vettuvankani, Chennai, India
Ponniammanmedu, Chennai, India
Ambattur INDUSTRIAL ESTATE, Chennai, India
Royapuram, Chennai, India
Shanthi Nagar, Chennai, India
Serapanacheri, Chennai, India
Kuthambakkam, Chennai, India
Anna Nagar East, Chennai, India
Pudupakkam, Chennai, India
Thiruneermalai, Chennai, India
Mangadu, Chennai, India
Arumbakkam, Chennai, India
Irandankattalai, Chennai, India
West Mambalam, Chennai, India
Tondiarpet, Chennai, India
Ayanavaram, Chennai, India
Mappedu, Chennai, India
Abiramapuram, Chennai, India
Mylapore, Chennai, India
Shenoy Nagar, Chennai, India
Ashok Nagar, Chennai, India
Tharapakkam, Chennai, India
OMR Road, Chennai, India
GST Road, Chennai, India
200 Feet Radial Road, Chennai, India
Adhanur, Chennai, India
Egattur, Chennai, India
tambaram east, Chennai, India
Pallikaranai VGP Shanti Nagar, Chennai, India
(4998, 40), Delhi
Sector 10 Dwarka, Delhi, India
Uttam Nagar, Delhi, India
Sarita Vihar, Delhi, India
Dwarka Mor, Delhi, India
Sector 7 Dwarka, Delhi, India
Sector 6 Dwarka, Delhi, India
Sector 5 Dwarka, Delhi, India
Sector 23 Rohini, Delhi, India
Mayur Vihar II, Delhi, India
Sector 24 Rohini, Delhi, India
Sector 11 Dwarka, Delhi, India
Sector 23 Dwarka, Delhi, India
Sector 12 Dwarka, Delhi, India
West End, Delhi, India
Sector 9 Rohini, Delhi, India
Mundka, Delhi, India
Sector 13 Rohini, Delhi, India
Jamia Nagar, Delhi, India
Sector 19 Dwarka, Delhi, India
Sector 17 Dwarka, Delhi, India
Bindapur, Delhi, India
Sector-18 Dwarka, Delhi, India
Vasant Kunj, Delhi, India
Shastri Nagar, Delhi, India
Sector-8 Rohini, Delhi, India
Sector 9 Dwarka, Delhi, India
Shanti Park Dwarka, Delhi, India
Govindpuri, Delhi, India
Sector 22 Dwarka, Delhi, India
Matiala, Delhi, India
Saket, Delhi, India
Mahavir Enclave, Delhi, India
Burari, Delhi, India
Shahdara, Delhi, India
Babarpur, Delhi, India
Khanpur, Delhi, India
Sector 13 Dwarka, Delhi, India
Mansa Ram Park, Delhi, India
Green Park, Delhi, India
Kalkaji, Delhi, India
Sector 4 Dwarka, Delhi, India
DLF Phase 5, Delhi, India
Sector 3 Dwarka, Delhi, India
Chittaranjan Park, Delhi, India
Chattarpur, Delhi, India
Greater Kailash, Delhi, India
Sector-14 Rohini, Delhi, India
Paschim Vihar, Delhi, India
Pitampura, Delhi, India
Sector 18B Dwarka, Delhi, India
Sector 2 Dwarka, Delhi, India
Jasola, Delhi, India
Pochanpur Colony, Delhi, India
Palam, Delhi, India
Saidabad, Delhi, India
Budh Vihar, Delhi, India
Sector 25 Rohini, Delhi, India
Sector 18A Dwarka, Delhi, India
Sewak Park, Delhi, India
Sector 23B Dwarka, Delhi, India
Rohini sector 24, Delhi, India
Sector 28 Rohini, Delhi, India
Rohini Sector 9, Delhi, India
Rohini Extension, Delhi, India
nawada, Delhi, India
Alaknanda, Delhi, India
Sector 22 Rohini, Delhi, India
Lajpat Nagar, Delhi, India
South Extension 2, Delhi, India
Sector 16B Dwarka, Delhi, India
Sheikh Sarai, Delhi, India
Sidhartha Nagar, Delhi, India
Sector-D Vasant Kunj, Delhi, India
Hauz Khas, Delhi, India
Kalkaji Extension, Delhi, India
Greater kailash 1, Delhi, India
Lajpat Nagar III, Delhi, India
Safdarjung Enclave, Delhi, India
Greater Kailash II, Delhi, India
Sainik Farms, Delhi, India
Sector 20 Rohini, Delhi, India
greater kailash Enclave 1, Delhi, India
DLF Farms, Delhi, India
Mehrauli, Delhi, India
Mahipalpur, Delhi, India
mayur vihar phase 1, Delhi, India
Sarvodaya Enclave, Delhi, India
Karol Bagh, Delhi, India
West Sagarpur, Delhi, India
Ashok Vihar, Delhi, India
Sector 21 Dwarka, Delhi, India
East of Kailash, Delhi, India
Khirki Extension, Delhi, India
Dashrath Puri, Delhi, India
SULTANPUR, Delhi, India
Patparganj, Delhi, India
Kaushambi, Delhi, India
Shakurbasti, Delhi, India
Hari Nagar, Delhi, India
Siri Fort, Delhi, India
Katwaria Sarai, Delhi, India
Mayur Vihar, Delhi, India
Nasirpur, Delhi, India
Bharat Vihar, Delhi, India
Nanak Heri Village, Delhi, India
Vikas Puri, Delhi, India
Madhu Vihar, Delhi, India
New Ashok Nagar, Delhi, India
Naraina, Delhi, India
Tagore Garden Extension, Delhi, India
New Friends Colony, Delhi, India
Sector 14 Rohini, Delhi, India
Dabri, Delhi, India
R.K. Puram, Delhi, India
Vijay Mandal Enclave, Delhi, India
Sector 8 Dwarka, Delhi, India
Badarpur, Delhi, India
Masjid moth, Delhi, India
Punjabi Bagh, Delhi, India
Gulmohar Enclave, Delhi, India
Jasola Vihar Sector 8 Road, Delhi, India
Bharthal, Delhi, India
Sheikh Sarai Phase2 New Delhi, Delhi, India
Abul Fazal Enclave Jamia Nagar, Delhi, India
Ramesh Nagar, Delhi, India
Shaheen Bagh Jamia Nagar, Delhi, India
Batla House Jamia Nagar, Delhi, India
Sector 1A Dwarka, Delhi, India
Zakir Nagar, Delhi, India
i p extension patparganj, Delhi, India
Neb Sarai, Delhi, India
Jogabai Extension New Delhi, Delhi, India
Jor bagh, Delhi, India
Delhi, Delhi, India
dwarka sector 12, Delhi, India
Moti Nagar, Delhi, India
Press Enclave, Delhi, India
Kailash Colony, Delhi, India
Karampura, Delhi, India
Civil Lines, Delhi, India
Khanpur Deoli, Delhi, India
Naraina Vihar, Delhi, India
Block GH5, Delhi, India
West Punjabi Bagh, Delhi, India
3 Dwarka Sector 9 Road, Delhi, India
Dwarka 11 Sector, Delhi, India
Block UU Uttari Pitampura, Delhi, India
Siddharth Enclave, Delhi, India
Lalita Park, Delhi, India
Mathura Road Sarita Vihar, Delhi, India
Azad Apartments, Delhi, India

In [ ]:
# dfs[0]['Latitude'], dfs[0]['Longitude'] = zip(*dfs[0]['Location'].map(locationLongLat))
# df1['Latitude'],df1['Longitude']=zip(*df1['Location'].map(locationLongLat))
# df2['Latitude'],df2['Longitude']=zip(*df2['Location'].map(locationLongLat))
# df3['Latitude'],df3['Longitude']=zip(*df3['Location'].map(locationLongLat))
# df4['Latitude'],df4['Longitude']=zip(*df4['Location'].map(locationLongLat))
# df5['Latitude'],df5['Longitude']=zip(*df5['Location'].map(locationLongLat))
# df6['Latitude'],df6['Longitude']=zip(*df6['Location'].map(locationLongLat))
# # convertLocation(df4)

In [ ]:
# for i in dfs:
#   i.replace('NA', np.nan, inplace=True)
# df1.replace('NA', np.nan, inplace=True)
# df2.replace('NA', np.nan, inplace=True)
# df3.replace('NA', np.nan, inplace=True)
# df4.replace('NA', np.nan, inplace=True)
# df5.replace('NA', np.nan, inplace=True)
# df6.replace('NA', np.nan, inplace=True)

In [ ]:
for (i,k) in zip(dfs,cities):
  print(f"{k:<10} shape: {i.shape}")

Bangalore  shape: (6207, 41)
Chennai    shape: (5014, 41)
Delhi      shape: (4998, 41)
Hyderabad  shape: (2518, 41)
Kolkata    shape: (6507, 41)
Mumbai     shape: (7719, 41)

Total sample with missing Values; after removing missing location values

*   Bangalore: 4256 of 6207: 1951: 1530
*   Chennai: 2781 of 5014: 2233: 1917
*   Delhi: 2996 of 4998: 2002: 1949
*   Hyderabad: 84 of 2518: 2434: 2174
*   Kolkata: 6507 of 6432: 75: 65
*   Mumbai: 6321 of 7719: 1398: 1114

Imputation:
* Bangalore  shape: (4914, 41)
* Chennai    shape: (4287, 41)
* Delhi      shape: (4747, 41)
* Hyderabad  shape: (2251, 41)
* Kolkata    shape: (5553, 41)
* Mumbai     shape: (6806, 41)

In [ ]:
for i in dfs:
  i.dropna(inplace=True)
# df1.dropna(inplace= True)
# df2.dropna(inplace= True)
# df3.dropna(inplace= True)
# df4.dropna(inplace= True)
# df5.dropna(inplace= True)
# df6.dropna(inplace= True)

In [ ]:
for (i,k) in zip(dfs,cities):
  print(f"{k:<10} shape: {i.shape}")

Bangalore  shape: (4914, 41)
Chennai    shape: (4287, 41)
Delhi      shape: (4747, 41)
Hyderabad  shape: (2251, 41)
Kolkata    shape: (5553, 41)
Mumbai     shape: (6806, 41)

In [ ]:
dfs[0].isna().sum()

Price                  0
Area                   0
No. of Bedrooms        0
Resale                 0
MaintenanceStaff       0
Gymnasium              0
SwimmingPool           0
LandscapedGardens      0
JoggingTrack           0
RainWaterHarvesting    0
IndoorGames            0
ShoppingMall           0
Intercom               0
SportsFacility         0
ATM                    0
ClubHouse              0
School                 0
24X7Security           0
PowerBackup            0
CarParking             0
StaffQuarter           0
Cafeteria              0
MultipurposeRoom       0
Hospital               0
WashingMachine         0
Gasconnection          0
AC                     0
Wifi                   0
KidsPlayArea           0
LiftAvailable          0
BED                    0
VaastuCompliant        0
Microwave              0
GolfCourse             0
TV                     0
DiningTable            0
Sofa                   0
Wardrobe               0
Refrigerator           0
Latitude               0
Longitude              0
dtype: int64

In [ ]:
# df1 = df1.drop(columns='Location')
# df2 = df2.drop(columns='Location')
# df3 = df3.drop(columns='Location')
# df4 = df4.drop(columns='Location')
# df5 = df5.drop(columns='Location')
# df6 = df6.drop(columns='Location')

In [ ]:
# dfs = [df1, df2, df3, df4, df5, df6]
for i, k in enumerate(dfs):
  scalar = preprocessing.MinMaxScaler()
  x = k.values
  x_scaled = scalar.fit_transform(x)
  dfs[i] = pd.DataFrame(x_scaled, columns=k.columns)

In [ ]:
dfs[0].head()

      Price      Area  No. of Bedrooms  ...  Refrigerator  Latitude  Longitude
0  0.093960  0.308382         0.500000  ...           0.0  0.034778   0.293278
1  0.021336  0.132841         0.333333  ...           0.0  0.034180   0.303187
2  0.016258  0.132314         0.333333  ...           0.0  0.030072   0.283146
3  0.016097  0.084871         0.166667  ...           0.0  0.038469   0.299765
4  0.060403  0.220032         0.500000  ...           0.0  0.040565   0.297294

[5 rows x 41 columns]

In [ ]:
dfs[0].to_csv('BangaloreDataMunging.csv')
dfs[1].to_csv('ChennaiDataMunging.csv')
dfs[2].to_csv('DelhiDataMunging.csv')
dfs[3].to_csv('HyderabadDataMunging.csv')
dfs[4].to_csv('KolkataDataMunging.csv')
dfs[5].to_csv('MumbaiDataMunging.csv')

# Citations

[1] https://www.kaggle.com/general/74235

[2] https://www.kaggle.com/ruchi798/housing-prices-eda-and-prediction